body {
  background-color: #fafafa !important;
  color: #333333 !important;
  margin-top: 5rem !important;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(68,68, 68) !important;
}

ul {
  margin: 0;
}

.bg-steel.navbar {
  background-color: #470a68 !important;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff !important;
}

.site-header .navbar-nav .nav-link:hover {
  color: #444444 !important;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500 !important;
}

.content-section {
  background: #ffffff !important;
  padding: 10px 20px !important;
  border: 1px solid #dddddd !important;
  border-radius: 3px !important;
  margin-bottom: 20px !important;
}

.article-title {
  color: #444444 !important;
}

a.article-title:hover {
  color: #428bca !important;
  text-decoration: none !important;
}

.article-content {
  white-space: pre-line !important;
}

.article-img {
  height: 65px !important;
  width: 65px !important;
  margin-right: 16px !important;
}

.article-metadata {
  padding-bottom: 1px !important;
  margin-bottom: 4px !important;
  border-bottom: 1px solid #e3e3e3 !important;
}

.article-metadata a:hover {
  color: #333 !important;
  text-decoration: none !important;
}

.article-svg {
  width: 25px !important;
  height: 25px !important;
  vertical-align: middle !important;
}

.account-img {
  height: 125px !important;
  width: 125px !important;
  margin-right: 20px !important;
  margin-bottom: 16px !important;
}

.account-heading {
  font-size: 2.5rem !important;
}